<section id="social-handle">
    <span><img class="social" src="img/facebook.png" alt=""></span>
    <span><img class="social" src="img/instagram.jpeg" alt=""></span>
    <span><img class="social" src="img/linkedin.png" alt=""></span>
    <h6>@Car Wala</h6>
</section>